.env
__pycache__
*.pyc
db.sqlite3
geckodriver.log
.idea
functional_test/__pycache__/
geckodriver/
lists/__pycache__/
lists/migrations/__pycache__/
superlists/__pycache__/
venv/

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
virtualenv/
